body {
    margin: 0;
    background-color: red;
    margin-top: 40px;
    box-sizing: border-box;
}

/*Green box*/
main {
    background-color: green;
    width: calc(100vw - 40px);
    height: calc(100vh - 80px);
    margin: auto;
    white-space: normal;
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
}

/*All blue boxes div*/
.blue {
    min-height: 300px;
    min-width: 300px;
    background-color: blue;
    margin: 5px;
}

/*Yellow containers, all of them*/
.yellow-child {
    height: 50px;
    width: 50px;
    background-color: yellow;
}

/*wrap of yellow child*/
.yellow-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 300px;
    width: auto;
}

.yellow-container1 {
    overflow-y: scroll;
}

/*yellow containers 4 different types by height*/
.height-50 {
    width: 90%;
    height: 50px;
    margin: 10px auto;

}

.height-100 {
    width: 90%;
    height: 100px;
    margin: 10px auto;
}

.height-150 {
    width: 90%;
    height: 150px;
    margin: 10px auto;
}

.height-400 {
    width: 90%;
    height: 400px;
    margin: 10px auto;

}

/*to set a different order*/
.yellow-child21 {
    order: 1;
}

.yellow-child32 {
    order: 1;
}